# Flutter
/build/
/.dart_tool/
/.packages
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# Android
/android/.gradle/
/android/local.properties
/android/key.properties

# IDE
.idea/
*.swp
.vscode/

# Misc
.DS_Store
*.log
